/*
   New Perspectives on HTML and CSS
   Tutorial 5
   Review Assignment

   Programming Table Style Sheet
   Author:   jiajun
   Date:   

   Filename:         programs.css
   Supporting Files: 

*/
table.programs {
		width: 100%;
		border-width: 2px;
		border-style: solid;
		border-color: black;
		font-family: arial, verdana, sans-serif;
		border-collapse: collapse;
		}
		/*Table Caption styles*/	
		table.programs caption {
			caption-side: bottom;
			text-align: left;
			font-size: 0.8em;
			
			}
/* Styles for the table data in the table body */
		table.programs tbody td {
			font-size: 0.7em;
			border: 1px solid gray;
			border-collapse: collapse;
			padding: 2px;
			}
/* Giving the timeslots borders as well*/
		table.programs tbody th {
			border: 1px solid gray;
			border-collapse: collapse;
			}
/* setting the height of the table rows*/
		tr {
			height: 25px;
		}
/* Setting the colors and styles for the table head*/
		thead {
			color: white;
			background-color: rgb(105,177,60);
			}
		thead th {
			font-size: 0.7em;
			border: 1px solid gray;
			}
		
		thead th:nth-of-type(1) {
			background-color: rgb(153,86,7);
			}

		thead th:nth-of-type(7) {
			background-color: rgb(153,0,153);
			}
		thead th:nth-of-type(8) {
			background-color: rgb(153,0,153);
			}
/* Setting the specific styles and colors for the colomn classes*/
	col.timeColumn {
		width: 10%;
		background-color: rgb(215,205,151)
		}
	col.wDayColumns {
		width: 11%;
		background-color: rgb(236,255,211)
		}
	col.wEndColumns {
		width: 17%;
		background-color: rgb(255,231,255)
		}

/* setting the padding for the introduction above the table*/
		table.header td {
			padding: 20px;




			}




